<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.josejin.Diary</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.151749810455-43v7cd4lnk8j09ftf98j2eu0bt5f77oa</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ACC어린이마음고운체.ttf</string>
		<string>Cafe24SsurroundAir.ttf</string>
	</array>
	<key>diaryServerUrl</key>
	<string>$(DIARY_SERVER_URL)</string>
</dict>
</plist>
